<lasso-page name="index" package-path="./browser.json"/>
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>
            Marko Widgets: Transclusion
        </title>
        <lasso-head/>
    </head>
    <body>
        <h1>
            Marko Widgets: Transclusion
        </h1>
        <app-outer/>
        <lasso-body/>
        <init-widgets/>
        <browser-refresh/>
    </body>
</html>
